In [1]:
# !pip install openpyxl

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path = '../data/' 
df_2018 = pd.read_csv(f'{path}social-development-bank-loans-for-2018.csv')
df_2019 = pd.read_csv(f'{path}social-development-bank-loans-for-2019.csv')
df_2020 = pd.read_excel(f'{path}social-development-bank-loans-for-2020..xlsx')
df_2021 = pd.read_csv(f'{path}social_devlopment_bank_loans_for_2021.csv')
df_2022 = pd.read_csv(f'{path}social_devlopment_bank_loans_for_2022.csv')

# Adding a year column to not lose track of which year this data belongs to. 
df_2018['السنة'] = 2018
df_2019['السنة'] = 2019
df_2020['السنة'] = 2020
df_2021['السنة'] = 2021
df_2022['السنة'] = 2022

In [4]:
df_2018.head()

,ID,فرع البنك,نوع التمويل,تصنيف التمويل,قطاع العميل,قيمة التمويل,قيمة القسط,تاريخ الصرف,جنس العميل,عمرالعميل,الحالة الاجتماعية,احتياجات خاصة,عدد افراد الاسرة,قرض ادخاري,قيمة الدخل,السنة
0,1.0,الإحساء,إجتماعي,أسرة,موظف حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 02,لا,>= 7500,2018
1,2.0,الإحساء,مشروع,ناشيء,متقاعد حكومي,122000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,< 02,لا,< 5000,2018
2,3.0,الإحساء,إجتماعي,أسرة,متقاعد حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 05,لا,< 5000,2018
3,4.0,الإحساء,إجتماعي,زواج,موظف حكومي,48000.0,< 1000,2018/01,MALE,>= 30,متزوج,لا,>= 02,لا,>= 5000,2018
4,5.0,الإحساء,مشروع,عربات البيع,NaN,150000.0,>= 1000,2018/01,MALE,>= 30,متزوج,لا,< 02,لا,< 5000,2018

In [5]:
df_2019.head()

,ID,فرع البنك,نوع التمويل,تصنيف التمويل,قطاع العميل,قيمة التمويل,قيمة القسط,تاريخ الصرف,جنس العميل,عمرالعميل,الحالة الاجتماعية,احتياجات خاصة,عدد افراد الاسرة,قرض ادخاري,قيمة الدخل,السنة
0,1.0,تبوك,إجتماعي,أسرة,موظف حكومي,60000.0,>= 1000,2019/02,MALE,>= 30,متزوج,لا,>= 05,لا,< 5000,2019
1,2.0,حائل,مشروع,حل,NaN,160000.0,>= 1000,2019/01,MALE,< 30,أعزب,لا,< 02,لا,< 5000,2019
2,3.0,تبوك,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2019/02,MALE,< 30,متزوج,لا,>= 02,لا,>= 7500,2019
3,4.0,المدينة,إجتماعي,زواج,موظف شركة حكومية,60000.0,< 1000,2019/03,MALE,< 30,متزوج,لا,>= 10,لا,>= 5000,2019
4,5.0,المدينة,إجتماعي,أسرة,موظف قطاع خاص,60000.0,>= 1000,2019/02,FEMALE,>= 30,مطلق,لا,>= 02,لا,>= 10000,2019

In [6]:
df_2020.head()

,ID,فرع البنك,نوع التمويل,تصنيف التمويل,قطاع العميل,قيمة التمويل,قيمة القسط,تاريخ الصرف,جنس العميل,عمرالعميل,الحالة الاجتماعية,احتياجات خاصة,عدد افراد الاسرة,قرض ادخاري,قيمة الدخل,السنة
0,6,الرس,تمويل الافراد,أسرة,غير محدد,60000,>= 1000,2020/03,أنثى,>= 30,مطلق,لا,>= 02,نعم,< 5000,2020
1,7,الرياض,تمويل الافراد,زواج,موظف حكومي,60000,>= 1000,2020/03,ذكر,< 30,متزوج,لا,>= 02,لا,>= 7500,2020
2,47,الرياض,تمويل الافراد,زواج,غير محدد,60000,>= 1000,2020/01,ذكر,< 30,متزوج,لا,>= 02,لا,< 5000,2020
3,48,مكة,تمويل الافراد,زواج,غير محدد,60000,>= 1000,2020/03,ذكر,< 30,متزوج,لا,>= 02,نعم,< 5000,2020
4,49,الطائف,تمويل الافراد,زواج,موظف حكومي,60000,>= 1000,2020/03,ذكر,< 30,متزوج,لا,>= 02,لا,>= 7500,2020

In [7]:
df_2021.head()

,ID,المدينة,التصنيف,االمنتج,قطاع_العميل,مبلغ_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,عمرالعميل,ألحاله_الإجتماعية,إحتياجات_خاصة,عدد افراد الاسرة,قيمة الدخل,السنة
0,1,حائل,مشروع,قرض مشروع ناشيء,غير معرف,30000.0,<1000,2021/1,ذكر,>= 30,متزوج,سليم,غير معروف,<5000,2021
1,2,الطائف,نقل,قرض سيارة أجرة,غير معرف,54694.0,<1000,2021/1,ذكر,>= 30,متزوج,سليم,>= 02,<5000,2021
2,8,الرياض,مشروع,قرض التميز,قطاع خاص,1585000.0,>=1000,2021/1,أنثى,>= 40,أعزب,سليم,< 02,>=10000,2021
3,12,مكه المكرمه,نقل,قرض أجرة خاصة,قطاع حكومي,97230.0,>=1000,2021/1,ذكر,>= 40,متزوج,سليم,< 02,<5000,2021
4,13,جازان,نقل,قرض أجرة خاصة,قطاع حكومي,97230.0,>=1000,2021/1,ذكر,< 30,أعزب,سليم,< 02,<5000,2021

In [8]:
df_2022.head()

,ID,المدينة,التصنيف,االمنتج,قطاع_العميل,مبلغ_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,عمر_العميل,ألحاله_الإجتماعية,إحتياجات_خاصة,عدد_أفراد_الأسره,زود_الإدخاري,القيمة,السنة
0,1,بنك التنمية الإجتماعية فرع المجمعة,مشروع,قرض التميز,قطاع خاص,2877000.0,>= 1000,2022-03,انثى,>= 30,متزوج,سليم,< 02,0,0,2022
1,2,بنك التنمية الإجتماعية فرع الرياض,مشروع,قرض مشروع حل,قطاع خاص,281000.0,>= 1000,2022-03,انثى,>= 30,متزوج,سليم,< 02,0,0,2022
2,3,بنك التنمية الإجتماعية فرع جدة,مشروع,قرض التميز,قطاع خاص,2218980.0,>= 1000,2022-01,ذكر,>= 30,متزوج,سليم,< 02,0,0,2022
3,4,بنك التنمية الإجتماعية بالمدينة المنورة,مشروع,قرض التقنيات الناشئة,قطاع خاص,260000.0,>= 1000,2022-01,انثى,>= 30,متزوج,سليم,< 02,0,0,2022
4,5,بنك التنمية الإجتماعية فرع الرياض,مشروع,قرض التقنيات الناشئة,قطاع خاص,220000.0,>= 1000,2022-03,ذكر,>= 30,متزوج,سليم,< 02,0,0,2022

In [9]:
df_2022['القيمة'].value_counts()

0       38414
6000    12692
Name: القيمة, dtype: int64

In [10]:
df_2021['قرض ادخاري'] = "غير معروف" # Adding a Savings Loan column to 2021's dataframe and assigning its value to 'Unknown' because we don't have data for the corresponding year. 
df_2022['القيمة'] = "غير معروف" # Assigning this column to 'Unknown' since we don't have relevant information for the income of clients in 2022.

In [11]:
df_2021 = df_2021[['ID', 'المدينة', 'التصنيف', 'االمنتج', 'قطاع_العميل', 'مبلغ_التمويل','قيمة_القسط', 'تاريخ_الصرف', 'جنس_العميل', 'عمرالعميل',
                    'ألحاله_الإجتماعية','إحتياجات_خاصة','عدد افراد الاسرة','قرض ادخاري','قيمة الدخل','السنة']] 
        # Rearranging columns of 2021's dataframe to be consistent with the rest of the years.

In [12]:
dfs = [df_2018, df_2019, df_2020, df_2021 ,df_2022]
names = 'ID	المدينة	نوع_التمويل	المنتج	قطاع_العميل	قيمة_التمويل	قيمة_القسط	تاريخ_الصرف	جنس_العميل	عمر_العميل	الحالة_الاجتماعية	احتياجات_خاصة	عدد_افراد_الاسرة	قرض_ادخاري	قيمة_الدخل	السنة'.split()

for i in dfs:
    i.columns = names
# Renaming columns of all dataframes to make sure concatenation is successful.

In [13]:
data = pd.concat([df_2018, df_2019, df_2020, df_2021, df_2022], ignore_index = True)
data.head(20)
# Concatenating all dataframes to obtain a single dataframe

,ID,المدينة,نوع_التمويل,المنتج,قطاع_العميل,قيمة_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,عمر_العميل,الحالة_الاجتماعية,احتياجات_خاصة,عدد_افراد_الاسرة,قرض_ادخاري,قيمة_الدخل,السنة
0,1.0,الإحساء,إجتماعي,أسرة,موظف حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 02,لا,>= 7500,2018
1,2.0,الإحساء,مشروع,ناشيء,متقاعد حكومي,122000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,< 02,لا,< 5000,2018
2,3.0,الإحساء,إجتماعي,أسرة,متقاعد حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 05,لا,< 5000,2018
3,4.0,الإحساء,إجتماعي,زواج,موظف حكومي,48000.0,< 1000,2018/01,MALE,>= 30,متزوج,لا,>= 02,لا,>= 5000,2018
4,5.0,الإحساء,مشروع,عربات البيع,NaN,150000.0,>= 1000,2018/01,MALE,>= 30,متزوج,لا,< 02,لا,< 5000,2018
5,6.0,الإحساء,إجتماعي,أسرة,موظف حكومي,36000.0,< 1000,2018/01,MALE,>= 30,متزوج,لا,>= 05,لا,>= 7500,2018
6,7.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,>= 30,متزوج,لا,>= 02,لا,>= 7500,2018
7,8.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 5000,2018
8,9.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,< 5000,2018
9,10.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 10000,2018
10,11.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 5000,2018
11,12.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,54000.0,< 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,< 5000,2018
12,13.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,54000.0,< 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 10000,2018
13,14.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,>= 30,متزوج,لا,>= 02,لا,>= 7500,2018
14,15.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 5000,2018
15,16.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 7500,2018
16,17.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,54000.0,< 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 10000,2018
17,18.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,54000.0,< 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,NaN,2018
18,19.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 10000,2018
19,20.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,< 5000,2018

In [14]:
# data.drop("ID",axis =1,inplace = True) # Dropping the ID column since it offers no relevant information. 
# data.to_csv(path+'gov_banking_data.csv', index=False) # Saving the concatenated dataframe for further and more specific processing. 
# Don't uncomment these!

### Gender
Unify the values for gender across all years. e.g, FEMALE and انثى becomes أنثى

In [15]:
# Modify the gender column such that different variations of Female becomes "أنثى" and Male becomes "ذكر"
data.loc[data['جنس_العميل'].isin(['أنثى', 'انثى', 'FEMALE']), 'جنس_العميل'] = 'أنثى'
data.loc[data['جنس_العميل'].isin(['ذكر', 'MALE']), 'جنس_العميل'] = 'ذكر'

data["جنس_العميل"].fillna('غير معروف', inplace = True)

In [16]:
data['عدد_افراد_الاسرة'] = data['عدد_افراد_الاسرة'].replace(['>= 02'], '>= 2')
data['عدد_افراد_الاسرة'] = data['عدد_افراد_الاسرة'].replace(['>= 05'], '>= 5')
data['عدد_افراد_الاسرة'] = data['عدد_افراد_الاسرة'].replace(['< 02'], '< 2')

data["عدد_افراد_الاسرة"].fillna('غير معروف', inplace = True)

### City
Unify the values for city names. Extract city names if they are embedded like in 2022.

In [17]:
data["المدينة"] = data["المدينة"].replace(['الإحساء'] , 'الأحساء')
data["المدينة"] = data["المدينة"].replace(['الباحه'] , 'الباحة')
data["المدينة"] = data["المدينة"].replace(['القنفذه'] , 'القنفذة')
data["المدينة"] = data["المدينة"].replace(['المجمعه'] , 'المجمعة')
data["المدينة"] = data["المدينة"].replace(['المدينه المنوره'] , 'المدينة')
data["المدينة"] = data["المدينة"].replace(['بريده'] , 'بريدة')
data["المدينة"] = data["المدينة"].replace(['بيشه'] , 'بيشة')
data["المدينة"] = data["المدينة"].replace(['جده'] , 'جدة')
data["المدينة"] = data["المدينة"].replace(['خميس  مشيط'] , 'خميس مشيط')
data["المدينة"] = data["المدينة"].replace(['مكه المكرمه'] , 'مكة')
data["المدينة"] = data["المدينة"].replace(['وادى الدواسر'] , 'وادي الدواسر')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع الرياض'] , 'الرياض')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع جدة'] , 'جدة')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع خميس مشيط'] , 'خميس مشيط')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية بمكة المكرمة'] , 'مكة')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع جازان'] , 'جازان')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية بالمدينة المنورة'] , 'المدينة')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع الطائف'] , 'الطائف')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع الدمام'] , 'الدمام')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع تبوك'] , 'تبوك')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع بريدة'] , 'بريدة')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية بالإحساء'] , 'الأحساء')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع الدوادمي'] , 'الدوادمي')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع ينبع'] , 'ينبع')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع حائل'] , 'حائل')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع الباحة'] , 'الباحة')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع نجران'] , 'نجران')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع حفر الباطن'] , 'حفر الباطن')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع القنفذة'] , 'القنفذة')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع عرعر'] , 'عرعر')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع الجوف'] , 'الجوف')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع القريات'] , 'القريات')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع بيشة'] , 'بيشة')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع المجمعة'] , 'المجمعة')
data["المدينة"] = data["المدينة"].replace(['بنك التنمية الإجتماعية فرع وادي الدواسر'] , 'وادي الدواسر')

### قطاع العميل
Unify the names of fields. Please don't randomly combine things, take some time to do some research. 

#### Change datatypes after all columns are cleaned
#### Make sure all NaNs of categorical columns have the same name "غير معروف"

In [18]:
# Unification of sector names (Lines 1-3), fixing typos (Line 4), filling NaNs with 'غير معروف'; equivalently, 'Unknown' (Line 5). 
data["قطاع_العميل"] = data["قطاع_العميل"].replace(['موظف حكومي', 'موظف شركة حكومية','شركة حكومية'] , 'قطاع حكومي') 
data["قطاع_العميل"] = data["قطاع_العميل"].replace(['موظف قطاع خاص'] , 'قطاع خاص')
data["قطاع_العميل"] = data["قطاع_العميل"].replace(['غير محدد','غير معرف'] , 'غير معروف')
data["قطاع_العميل"] = data["قطاع_العميل"].replace(['منتسب لجميعة'] , 'منتسب لجمعية') 
# All of these clients are males, single, below 30 years old except for one guy, all from Riyadh. تسهيل الزواج.
data["قطاع_العميل"].fillna('غير معروف', inplace = True)

In [19]:
data["الحالة_الاجتماعية"].fillna('غير معروف', inplace = True)

### ذوي الاحتياجات الخاصة
Unify the values. It should be binary. 0 for healthy and 1 for handicapped. 
### قرض ادخاري
Unify the values. It should be binary. 0 for no and 1 for yes. 
### قيمة القسط
Unify the values. It should be binary. 0 for < 1000 and 1 >= 1000.

In [20]:
# Modify columns "احتياجات_خاصة", "قرض_ادخاري", and "قيمة القسط" to become binary.
data.loc[data['احتياجات_خاصة'].isin(['سليم','لا']), 'احتياجات_خاصة'] = 'لا'
data.loc[data['احتياجات_خاصة'].isin(['نعم', 'ذوي الاحتياجات الخاصة']), 'احتياجات_خاصة'] = 'نعم'
data["احتياجات_خاصة"].fillna('غير معروف', inplace = True)

data.loc[data['قرض_ادخاري'].isin(['0',0,'لا']), 'قرض_ادخاري'] = 'لا'
data.loc[data['قرض_ادخاري'].isin(['1',1,'نعم']), 'قرض_ادخاري'] = 'نعم'
data.loc[data['قيمة_القسط'].isin(['< 1000','<1000']), 'قيمة_القسط'] = '< 1000'
data.loc[data['قيمة_القسط'].isin(['>= 1000','>=1000']), 'قيمة_القسط'] = '>= 1000'
data["قيمة_القسط"].fillna('غير معروف', inplace = True)


### تاريخ_الصرف
Unify the format of the date to YYYY/MM >> 1-2020 becomes 2020/01 etc. 
### عمر_العميل
Make it into categorical ordinal values e.g., >= 60 becomes Senior, >= 40 becomes middle-aged,  etc. 
### المنتج
Unify the names of loans. Please don't randomly combine things, take some time to do some research.

In [21]:
#Unify the names of loans.
data["المنتج"] = data["المنتج"].replace(['زواج'] , 'قرض زواج')
data["المنتج"] = data["المنتج"].replace(['ترميم'] , 'قرض ترميم')
data["المنتج"] = data["المنتج"].replace(['أسرة'] , 'قرض أسرة')
data["المنتج"] = data["المنتج"].replace(['التميز'] , 'قرض التميز')
data["المنتج"] = data["المنتج"].replace(['خريجين ناشيء'] , 'قرض خريجين ناشيء')
data["المنتج"] = data["المنتج"].replace(['أجرة خاصة'] , 'قرض أجرة خاصة')
data["المنتج"] = data["المنتج"].replace([' قرض أجرة خاصة'] , 'قرض أجرة خاصة')
data["المنتج"] = data["المنتج"].replace(['ناشيء'] , 'قرض مشروع ناشيء')
data["المنتج"] = data["المنتج"].replace(['امتياز'] , 'قرض امتياز تجاري')
data["المنتج"] = data["المنتج"].replace(['خاصة'] , 'فئات خاصة')
data["المنتج"] = data["المنتج"].replace(['القائم'] , 'قرض القائم')
data["المنتج"] = data["المنتج"].replace(['عربات البيع'] , 'عربات البيع المتنقلة')
data["المنتج"] = data["المنتج"].replace(['حل'] , 'قرض مشروع حل')
data["المنتج"] = data["المنتج"].replace(['غير معرف'] , 'غير معروف')

data["المنتج"] = data["المنتج"].replace(['قرض أجرة خاصة','قرض سيارة أجرة','أجرة'] , 'قرض سيارة')

#Make it into categorical ordinal values
data["عمر_العميل"] = data["عمر_العميل"].replace(['>= 60'] , 'كبار سن')#Seniors 
data["عمر_العميل"] = data["عمر_العميل"].replace(['>= 40'] , 'بالغين في منتصف العمر')# Middel-aged Adults
data["عمر_العميل"] = data["عمر_العميل"].replace(['>= 30'] , 'بالغين')#Adults
data["عمر_العميل"] = data["عمر_العميل"].replace(['< 30'] , 'شباب') #Youth
data["عمر_العميل"] = data["عمر_العميل"].replace(['غير معرف'] , 'غير معروف') #Unifying null value names

data["عمر_العميل"].fillna('غير معروف', inplace = True)

#Change the col name to a catagory
data = data.rename(columns={'عمر_العميل': 'الفئة_العمرية'})

#Unify the format of the date to YYYY/MM
data['تاريخ_الصرف'] = pd.to_datetime(data['تاريخ_الصرف']).dt.strftime('%Y/%m')

### نوع التمويل
Unify the names of the loan types. Please don't randomly combine things, take some time to do some research. 
### قيمة الدخل
Make it into categorical ordinal values by specifying intervals for income ranges e.g., < 5000 becomes low income, >= 10000 becomes Very High income, >= 7500 becomes High income, etc.

# Part 1
Fixing the columns for نوع التمويل, but since it's heavely correlated with the المنتج column I'll start with that first.

إجتماعي and تمويل الافراد are the same

مشروع and تمويل الاعمال are the same 

نقل and تمويل نقل are the same

حر contains two values:

-> قرض العمل الحر نقدي belongs to تمويل الاعمال/مشروع
                       
-> قرض النقل التشاركي belongs to تمويل نقل/نقل

In [22]:
data["نوع_التمويل"] = data["نوع_التمويل"].replace(['إجتماعي','تمويل الافراد'],'تمويل الافراد')
data["نوع_التمويل"] = data["نوع_التمويل"].replace(['مشروع','تمويل الاعمال'],'تمويل الاعمال')
data["نوع_التمويل"] = data["نوع_التمويل"].replace(['نقل','تمويل نقل'],'تمويل نقل')

for index, row in data.iterrows():
    if row["المنتج"] == "قرض العمل الحر نقدي":
        data["نوع_التمويل"][index] = "تمويل الاعمال"
    elif row["المنتج"] == "قرض النقل التشاركي":
        data["نوع_التمويل"][index] = "تمويل نقل"

/var/folders/ft/6bcs2wds5sl58dd3v85sg3140000gn/T/ipykernel_13857/3253408169.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["نوع_التمويل"][index] = "تمويل نقل"
/var/folders/ft/6bcs2wds5sl58dd3v85sg3140000gn/T/ipykernel_13857/3253408169.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["نوع_التمويل"][index] = "تمويل الاعمال"

# Part 2
Fixing the قيمة_الدخل column.

Every value here has two versions, one with space and another without. 

So we'll first unify them by choosing the one without a space. (Thank you abdulrahman!)

In [23]:
data.loc[data["قيمة_الدخل"].isin(['< 5000', '<5000']), 'قيمة_الدخل'] = '< 5000'
data.loc[data["قيمة_الدخل"].isin(['>= 7500', '>=7500']), 'قيمة_الدخل'] = '>= 7500'
data.loc[data["قيمة_الدخل"].isin(['>= 10000', '>=10000']), 'قيمة_الدخل'] = '>= 10000'
data.loc[data["قيمة_الدخل"].isin(['>= 5000', '>=5000']), 'قيمة_الدخل'] = '>= 5000'
data["قيمة_الدخل"].fillna('غير معروف', inplace = True)

the catagories here is a bit confusing so I'm going to create a new column named **نوع_الدخل** which will catagorize the values into a more readable language

<5000 will be **منخفض جدا**

\>=5000 will be **منخفض**

\>=7500 will be **متوسط**

\>=10000 will be **مرتفع**

In [24]:
def income_type(row):
    if row["قيمة_الدخل"] == "< 5000":
        return "منخفض جدا"
    elif row["قيمة_الدخل"] == ">= 5000":
        return "منخفض"
    elif row["قيمة_الدخل"] == ">= 7500":
        return "متوسط"
    elif row["قيمة_الدخل"] == ">= 10000":
        return "مرتفع"
    return "غير معروف"
    
#data["نوع_الدخل"] = 
data.insert(len(data.columns)-1, "نوع_الدخل", data.apply(lambda row: income_type(row), axis=1)) # using insert to insert the new column in the second place from the end.
                                                                                                # so the year stays at the end

In [25]:
data.head()

,ID,المدينة,نوع_التمويل,المنتج,قطاع_العميل,قيمة_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,الفئة_العمرية,الحالة_الاجتماعية,احتياجات_خاصة,عدد_افراد_الاسرة,قرض_ادخاري,قيمة_الدخل,نوع_الدخل,السنة
0,1.0,الأحساء,تمويل الافراد,قرض أسرة,قطاع حكومي,60000.0,>= 1000,2018/01,ذكر,بالغين في منتصف العمر,متزوج,لا,>= 2,لا,>= 7500,متوسط,2018
1,2.0,الأحساء,تمويل الاعمال,قرض مشروع ناشيء,متقاعد حكومي,122000.0,>= 1000,2018/01,ذكر,بالغين في منتصف العمر,متزوج,لا,< 2,لا,< 5000,منخفض جدا,2018
2,3.0,الأحساء,تمويل الافراد,قرض أسرة,متقاعد حكومي,60000.0,>= 1000,2018/01,ذكر,بالغين في منتصف العمر,متزوج,لا,>= 5,لا,< 5000,منخفض جدا,2018
3,4.0,الأحساء,تمويل الافراد,قرض زواج,قطاع حكومي,48000.0,< 1000,2018/01,ذكر,بالغين,متزوج,لا,>= 2,لا,>= 5000,منخفض,2018
4,5.0,الأحساء,تمويل الاعمال,عربات البيع المتنقلة,غير معروف,150000.0,>= 1000,2018/01,ذكر,بالغين,متزوج,لا,< 2,لا,< 5000,منخفض جدا,2018

In [27]:
# data.drop("ID",axis =1,inplace = True) # Dropping the ID column since it offers no relevant information. 
# data.to_csv(path+'gov_banking_data.csv', index=False) # Saving the concatenated dataframe for further and more specific processing.